@font-face {
    font-family: "Figtree";
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

.main-container{
    margin-top: 20px;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    width: 90%;
    height: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    box-shadow: 10px 10px;
    font-family: "Figtree";
}
.background{
    background-color: hsl(47, 88%, 63%);
    /* display: flex; */
}
.thumbnail{
    width: 95%;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
}
.attribution{
    margin-top: 3rem;
}
.category{
    background-color: hsl(47, 88%, 63%);
    width: 5rem;
    /* padding: 0rem; */
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1.5rem;
    display: flex;
    font-weight: bolder;
    margin-left: 10px; 
}
.date {
    margin-left: 10px; 
}
.description{
    display: flex;
    color: hsl(0, 0%, 42%);
    flex-wrap: wrap;
    /*width: 20rem; */
    margin-left: 10px; 
}
.description h2{
    color: black;
}
.description a:link, a:visited {
    color: black;
    text-decoration: none;
    transition: 1s color;

}
.description a:hover{
    text-decoration: none;
    transition: 0.8s color;
    color: hsl(47, 88%, 63%);
}
.author{
    /* margin-top: 2rem;
    margin-left: -2rem; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    /* margin-bottom: -2rem; */
}
.pfp-card{
    width: 2rem;
}
.name{
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}
.name a:link, a:visited {
    color: black;
    text-decoration: none;
    transition: 1s color;
}
.name a:hover{
    text-decoration: none;
    transition: 0.8s color;
    color: hsl(47, 88%, 63%);
}
.hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0,0,0,0);
    position: absolute;
    overflow: hidden;
}
@media (min-width: 768px){
    .main-container{
        width: 50%;
    }
}

@media (min-width: 1024px){
    .main-container{
        width: 30%;
    }
}
@media (min-width: 1440px){
    .main-container{
        width: 20%;
    }
}
@media (min-width: 2560px){
    .main-container{
        width: 20%;
    }
}